<html>

<head>
    <title>Admin Page</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.css" />
</head>

<body>
    <section class="section">
        <div class="container">
            <h1 class="title">
                VoteRight Admin Overview
            </h1>

        </div>
        <br>
        <div id="app" class="container">
            <p class="subtitle">
                Verifcation servers
            </p>
            <ul>
                <li v-for="server in verificationServers">
                    <a :href="server">{{server}}</a>
                </li>
            </ul>
            <br>
            <p class="subtitle">
                Verification Server Info
            </p>
            <div v-if="!serversMatch" class="notification is-danger">
                One or more verification servers do not match
            </div>
            <div v-if="serversMatch" class="notification is-success">
                    All verification servers match
                </div>
            <p>
                <p v-for="serverdata in verificationData">
                    {{serverdata}}
                </p>
            </p>
            <br>
            <p class="subtitle">
                Integrity Violations
            </p>
            <ul>
                <li v-for="violation in integrityViolations">
                    <p>{{Date(violation.Time)}}: <span class="has-text-danger">{{violation.Message}} </span></p>
                </li>
            </ul>
            <p class="subtitle">
                    Vote totals
                </p>
                <ul>
                    <li v-for="violation in integrityViolations">
                        <p>{{Date(violation.Time)}}: <span class="has-text-danger">{{violation.Message}} </span></p>
                    </li>
                </ul>
        </div>
    </section>
    <script src="/assets/admin.js"></script>
</body>

</html>