<html>
<head>
    <title>Voting Booth</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.css" />
</head>
<body>
    <section class="section">
        <div class="container">
            <h1 class="title">
                VoteRight Ballot
            </h1>
            <h2 class="subtitle">
                Cast Votes for candidates
            </h2>
        </div>
        <div id="app">
            <br>
            <div v-if="alreadyvoted" class="notification is-danger">
                <p>You have already voted</p>
            </div>
            <br>
            <div class="container">
                <div v-for="race,id in races" class="box">
                    <p class="title">
                        {{race.Name}}
                    </p>
                    <div id="candidateslist" class="column">
                            <div v-for="candidate in race.Candidates" class="notification candidateSelector" :class="{'is-danger': races[id].for == candidate.ID}">
                                <div class="level">
                                    <div class="level-left candidateName">
                                        {{candidate.Name}}
                                    </div>
                                    <div class="level-right candidateVote">
                                        <button :disabled="isDisabled(id)" @click="vote(race.ID, candidate.ID, id);" class="button is-info submitbutton">Vote</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <div style="display:flex;justify-content: flex-end;">
                            <button v-if="isDisabled(id)" @click="races[id].for = -1; races[id].voted = false;" class="button">Reset</button>
                        </div>
                </div>
                <div v-if="readyToSend()" style="display:flex;justify-content: flex-end;">
                    <button @click="submit()" class="button is-info">Submit</button>
                </div>
                <div v-if="randomID != -1">
                    <p class="subtitle">Your reference id is: {{randomID}}, use it at a verification server to confirm your ballot</p>
                    <a href="/thanks">
                        <button class="button is-info">Continue</button>
                    
                    </a>
                </div>
            </div>
        </div>
        <!-- <div id="voteFailed" class="notification is-danger">
            <p>Failed to cast vote</p>
        </div>
        <br>
        <div class="container">
          <div class="field has-addons">
            <div id="candidateslist" class="column">
                <div class="box candidateSelector">
                    <div class="level">
                        <div class="level-left candidateName">
                            Name
                        </div>
                        <div class="level-right candidateVote">
                            <button class="button is-info submitbutton">Vote</button>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </div> -->
       
    </section>
    <script src="/assets/votingballot.js"></script>
</body>
</html>